<% @station_search.stations.each do |station| %>
  <div class="station">
    <li class="name"><%= station.name %></li>
    <li class="address"><%= station.address %></li>
    <li class="fuel_type"><%= station.fuel_type %></li>
    <li class="distance"><%= station.distance %></li>
    <li class="access_times"><%= station.access_times %></li>
  </div>
<% end %>
